:root {
    --background-color: #fcfcfc;
    --primary-font-color: rgba(0, 0, 0, 0.87);
    --primary-font: Roboto, Helvetica, Arial, sans-serif;
    --primary-font-weight: 300;
    --primary-header-height: 40px;
    --primary-header-font-size: 30px;
    --secondary-header-font-size: 30px;
    --tertiary-header-font-size: 24px;
    --secondary-control-font-size: 14px;
    --secondary-control-margin: 4px 4px 0 4px;
    --secondary-input-container-columns: 1fr 1fr;
    --header-font-family: Times, serif;
    --border: 1px solid #3333;
    --search-font-size: 20px;
    --search-input-height: 32px;
    --primary-opacity: 0.95;
    --secondary-opacity: 0.85;
    --tertiary-opacity: 0.75;
    --target-language-font-size: 24px;
    --target-language-secondary-font-size: 20px;
    --target-language-font-weight: 400;
    --base-language-font-size: 14px;
    --example-item-margin: 4px 0;
    --link-font-color: rgb(21, 36, 255);
    --input-background-color: #fff;
    --primary-input-box-shadow: 0 2px 3px 1px #eeee;
    --positive-button-color: #6de200;
    --right-button-margin: 10px 0 0 20px;
    --menu-button-margin: 18px 0 0 0;
    --primary-container-height: calc(100% - 42px);
    --legend-height: 14px;
    --graph-height: calc(100% - var(--legend-height) - 4px);
    --section-container-margin: 0 20px;
    --calendar-day-color: #eee;
    --bar-chart-separator-color: #121212;
    --bar-chart-height: 400px;
    --bar-chart-width: 600px;
    --bar-chart-font-size: 14px;
    --output-container-height: calc(100% - 72px);
    --control-container-height: 70px;
    --study-result-buttons-width: 50%;
    --legend-font-size: 14px;
    --instructions-font-size: 16px;
    --secondary-input-container-width: 80%;
    --accent-color: black;
    --secondary-accent-color: #d56eaf;
    --inactive-accent-color: #777;
    --secondary-inactive-accent-color: #6a82fb;
    --legend-gradient-start: #fc5c7d;
    --legend-gradient-end: #6a82fb;
    --tone-1-color: #ff635f;
    --tone-2-color: #66c42b;
    --tone-3-color: #de68ee;
    --tone-4-color: #68aaee;
    --neutral-tone-color: #000;
    --button-border-bottom: 3px solid var(--accent-color);
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
    background-color: var(--background-color);
    color: var(--primary-font-color);
    overflow-x: hidden;
}

a {
    color: var(--primary-font-color);
    cursor: pointer;
}

input[type="search"] {
    background-color: var(--input-background-color);
    border: var(--border);
    color: var(--primary-font-color);
}

h1 {
    font-size: var(--primary-header-font-size);
    margin: 4px;
    font-family: var(--header-font-family);
}

h2 {
    font-size: var(--secondary-header-font-size);
    font-family: var(--header-font-family);
    margin: 0;
}

h3 {
    font-size: var(--tertiary-header-font-size);
    font-family: var(--header-font-family);
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    height: var(--primary-header-height);
    text-align: center;
    border-bottom: var(--border);
}

.control-container {
    max-width: 1000px;
    /* height: var(--control-container-height); */
    margin: 0 auto;
    text-align: center;
    border-bottom: var(--border);
}

.primary-input {
    width: 80%;
    text-align: center;
    height: var(--search-input-height);
    font-size: var(--search-font-size);
    margin: 10px auto auto 0;
    padding: 0;
    text-align: center;
    border: var(--border);
    border-radius: 16px;
    box-shadow: var(--primary-input-box-shadow);
}

#walkthrough-character-set {
    font-weight: bold;
}

.secondary-input-container {
    display: grid;
    grid-template-columns: var(--secondary-input-container-columns);
    width: var(--secondary-input-container-width);
    margin: 0 auto;
    height: 22px;
}

.secondary-input {
    font-size: var(--secondary-control-font-size);
    margin: var(--secondary-control-margin);
}

.secondary-input:nth-of-type(odd) {
    text-align: left;
}

.secondary-input:nth-of-type(even) {
    text-align: right;
}

.secondary-button {
    padding: 0 8px;
    font-weight: bold;
    margin: 0 14px;
    border-bottom: var(--button-border-bottom);
    user-select: none;
}

.primary-container {
    height: var(--primary-container-height);
}

.output-container {
    height: var(--output-container-height);
    /* TODO: should probably be grid, but that interacts strangely with cytoscape resizing */
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.primary-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section-container {
    margin: var(--section-container-margin);
    flex-grow: 1;
    overflow: auto;
}

.sentence-container {
    width: calc(100% - 70px);
}

.clickable {
    cursor: pointer;
}

.add-button {
    color: var(--positive-button-color);
    cursor: pointer;
    float: right;
    margin-right: 20px;
    /* TODO: skipping variable for now, since this is in one spot only and isn't a broader pattern */
    font-size: 30px;
}

#graph,
#flow-diagram-container {
    height: var(--graph-height);
}

.flow-explanation {
    margin: 10px auto;
    text-align: center;
    font-size: var(--secondary-control-font-size);
}

#examples {
    /* avoid scrollbars while animations run, otherwise unnecessary */
    overflow-x: hidden;
    margin-top: 4px;
}

.explore-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 4px auto;
    border-bottom: var(--border);
    user-select: none;
}

.explore-tab {
    cursor: pointer;
    opacity: 0.8;
}

.separator {
    display: none;
}

.explore-tab.active {
    opacity: 1;
    font-weight: 400;
}

.character-header {
    font-size: 38px;
    font-family: sans-serif;
}

.pronunciations {
    margin: 0;
}

.pronunciation {
    font-weight: 400;
    font-size: 22px;
}

.character-data {
    margin-bottom: 12px;
}

.character-data a.navigable {
    margin-right: 12px;
}

.character-data h3 {
    margin: 8px 0;
}

.tone1 {
    color: var(--tone-1-color);
}

.tone2 {
    color: var(--tone-2-color);
}

.tone3 {
    color: var(--tone-3-color);
}

.tone4 {
    color: var(--tone-4-color);
}

.tone5 {
    color: var(--neutral-tone-color);
}

h2.word-header {
    font-family: var(--primary-font);
}

.word-header.active .clickable {
    border-left: 8px solid var(--accent-color);
    transition: border-left-width 0.35s, border-left-color 0.35s;
}

.word-header .clickable {
    border-left: 2px solid var(--inactive-accent-color);
    padding-left: 6px;
    padding-top: 4px;
    transition: border-left-width 0.35s, border-left-color 0.35s;
}

.explore-tab.active .separator {
    width: 60px;
    height: 4px;
    display: block;
    background: var(--accent-color);
}

.explore-tab.active .separator {
    margin: 2px auto 0 auto;
}

.expand {
    animation: expand 0.5s;
}

@keyframes expand {
    0% {
        width: 0;
    }

    100% {
        width: 60px;
    }
}

.definitions {
    margin: 6px 0;
}

.definition {
    margin: 6px 0;
}

.definition .tone1,
.definition .tone2,
.definition .tone3,
.definition .tone4,
.definition .tone5 {
    font-weight: bold;
}

.example {
    margin: 16px 0;
}

.explore-stat-header {
    margin: 0;
    text-align: center;
}

.coverage-explanation {
    margin: 0 0 6px 0;
}

.suggestions-explanation {
    font-size: var(--instructions-font-size);
    margin-top: 4px;
}

.context,
.coverage-explanation {
    font-size: var(--instructions-font-size);
}

.target {
    font-size: var(--target-language-font-size);
    font-weight: var(--target-language-font-weight);
    /* TODO(refactor) why flex? */
    display: flex;
    opacity: var(--primary-opacity);
    margin: var(--example-item-margin);
}

.base {
    margin: var(--example-item-margin);
    opacity: var(--secondary-opacity);
    font-size: var(--base-language-font-size);
}

.transcription {
    display: none;
    margin: var(--example-item-margin);
    opacity: var(--tertiary-opacity);
    font-size: var(--base-language-font-size);
}

.context,
.context-line {
    margin: 4px 0 0 0;
}

.active-link {
    text-decoration: underline;
    color: var(--link-font-color);
    cursor: pointer;
}

#show-pinyin:checked~* .transcription {
    display: block;
}

/* CSS icons */
.menu-button {
    width: 20px;
    height: 2px;
    box-shadow: inset 0 0 0 32px, 0 -6px, 0 6px;
    display: inline-block;
    margin: var(--menu-button-margin);
    cursor: pointer;
}

.stats-button {
    position: relative;
    display: inline-block;
    border-top-width: 0;
    border-right-width: 0;
    border-color: transparent;
    box-shadow: -2px 2px;
    width: 30px;
    height: 22px;
    margin: 4px 0 8px 4px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
}

.stats-button::before {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 4px;
    height: 15px;
    box-shadow: inset 0 -8px 0 0, 6px 0, 12px 7px, 18px 5px;
}

.exit-button {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 4px;
    margin-top: 2px;
}

.exit-button::after,
.exit-button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 6px
}

.exit-button::after {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 8px
}

.exit-button::before {
    width: 14px;
    height: 2px;
    bottom: 12px;
    background: currentColor;
}

.study-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
    margin: var(--right-button-margin);
}

.study-button::after,
.study-button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 2px;
    background: currentColor;
    left: 2px
}

.study-button::before {
    box-shadow:
        0 4px 0,
        0 8px 0;
    width: 12px;
    top: 4px
}

.study::after {
    width: 6px;
    top: 14px
}

.speak-button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(0.9);
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 16px;
}

.speak-button::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 4px;
    left: 7px
}

.explore-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    cursor: pointer;
    margin: var(--right-button-margin);
}

.explore-button::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

/* Legend stuff, ugly but less critical */

.legend {
    font-size: var(--legend-font-size);
    font-weight: bold;
    margin: 4px 0 0 0;
    height: var(--legend-height);
    display: flex;
    justify-content: center;
}

#tone-legend span {
    font-size: 14px;
    margin: 0 6px;
}

#level-container {
    display: inline-block;
    background: linear-gradient(to right, var(--legend-gradient-start), var(--legend-gradient-end));
    width: 36%;
    margin: 0 2px;
    border-radius: 6px;
}

/* TODO: do we need these to be different classes? */
.stats-category,
.stats-header {
    text-align: center;
    margin: 14px 8px;
}

/* TODO(refactor): consolidate these explanation classes */
.explanation {
    text-align: center;
    margin: 0;
}

/* TODO(refactor): get this looking nice */
.search-suggestions {
    padding: 2px;
    border: var(--border);
    margin: 0;
    font-size: var(--target-language-font-size);
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}

.search-suggestion {
    margin: 12px;
    cursor: pointer;
}

.search-suggestion-current {
    margin-left: 8px;
    font-weight: var(--target-language-font-weight);
}

#hourly-graph {
    padding-bottom: 40px;
}

.month-indicator {
    width: 16px;
}

.bar-chart {
    display: grid;
    width: var(--bar-chart-width);
    height: var(--bar-chart-height);
    margin: 0 auto;
    grid-template-rows: repeat(100, 1fr) 1px 20px;
    column-gap: 6px;
    font-size: var(--bar-chart-font-size);
}

.hours.bar-chart {
    height: 300px;
    width: 85%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.bar-chart-separator {
    background: var(--bar-chart-separator-color);
}

.bar-chart-x-label {
    margin-top: 2px;
}

.bar-chart-y-label {
    grid-column: 1;
    text-align: right;
}

.calendar-day {
    background-color: var(--calendar-day-color);
    width: 17px;
    height: 17px;
    margin: 3px;
    border-radius: 4px;
}

.calendar-day.s {
    background-color: #4000bf;
}

.calendar-day.m {
    background-color: #6a0095;
}

.calendar-day.l {
    background-color: #95006a;
}

.calendar-day.xl {
    background-color: #bf0040;
}

.calendar-day.xxl {
    background-color: #ff0000;
}

.calendar-day.epic {
    background-color: #ff00ff;
}

.calendar-day.future {
    opacity: 0.4;
}

.calendar-day-dummy {
    opacity: 0;
}

.calendar {
    display: grid;
    max-width: 95%;
    overflow: scroll;
    margin: 0 auto;
}

/* TODO(refactor): study mode stuff needs to be made cleaner, too */
.study-call-to-action {
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
}

#result-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#result-buttons li {
    width: var(--study-result-buttons-width);
    padding: 8px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}

#wrong-button {
    background-color: #ff635f;
    color: black;
    user-select: none;
    -webkit-user-select: none;
}

#right-button {
    background-color: #6de200;
    color: black;
    user-select: none;
    -webkit-user-select: none;
}

.result-indicator-right {
    background-color: #6de200;
    color: black;
}

.result-indicator-wrong {
    background-color: #ff635f;
    color: black;
}

.card-question,
.card-answer {
    text-align: center;
    font-size: var(--target-language-font-size);
}

.cloze-container {
    margin: 2px;
}

.cloze-placeholder {
    color: #ff635f;
    font-weight: bold;
}

.card-detail {
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
    width: 80%;
}

.card-detail p {
    margin: 0 2px;
}

.related-cards {
    font-size: 20px;
}

p.related-card {
    margin: 6px auto;
}

.related-card-performance {
    font-size: 16px;
}

#delete-card-button {
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    cursor: pointer;
}

#cards-due {
    margin-top: 20px;
}

.faq {
    max-width: 1000px;
    font-size: 16px;
    margin: 14px 40px;
}

.menu {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.menu-item {
    font-size: 18px;
    height: 60px;
}

/* TODO(refactor): signin form stuff should be cleaned */
main.auth-form {
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}

.auth-form li {
    margin-bottom: 30px;
    margin-top: 12px;
}

.auth-form input {
    font-size: 16px;
}

.auth-form input[type=email] {
    height: 28px;
    width: 270px;
}

.auth-form input[type=password] {
    height: 28px;
    width: 270px;
}

.auth-form input[type=submit] {
    width: 100%;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}

.auth-form label {
    font-size: 22px;
}

.auth-form img {
    cursor: pointer;
}

.auth-form h1 {
    font-size: 26px;
}

.auth-form #forgot-password {
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.auth-form #alternate-signins {
    font-size: 18px;
}

.auth-form .secondary-signin-link {
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    max-width: 130px;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade {
    animation: fade 0.25s;
}

@keyframes slide-in {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slide-in 0.25s;
}

@keyframes slide-from-right {
    0% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-from-right {
    animation: slide-from-right 0.25s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --primary-font-color: rgba(255, 255, 255, 0.87);
        --border: 1px solid #333;
        --link-font-color: #68aaee;
        --input-background-color: #fff;
        --primary-input-box-shadow: 0 2px 3px 1px #3333;
        --input-background-color: rgba(74, 74, 74, 0.9);
        --calendar-day-color: #333;
        --bar-chart-separator-color: #fff;
        --tone-2-color: #7aeb34;
        --neutral-tone-color: #aaa;
        --accent-color: #ccc;
    }
}

@media (max-width: 1024px) {
    :root {
        --section-container-margin: 0 10px;
        --bar-chart-width: 100%;
        --bar-chart-height: 250px;
        --bar-chart-font-size: 12px;
        --secondary-input-container-width: 100%;
    }
}

@media (max-width:664px) {
    :root {
        --primary-header-font-size: 26px;
        --secondary-control-margin: 2px 4px 0 4px;
        --tertiary-header-font-size: 22px;
        --primary-header-height: 34px;
        --right-button-margin: 6px 0 0 20px;
        --menu-button-margin: 16px 0 0 0;
        --primary-container-height: calc(100% - 35px);
        --search-input-height: 26px;
        --search-font-size: 18px;
        --output-container-height: calc(100% - 66px);
        --control-container-height: 64px;
        --study-result-buttons-width: 80%;
        --instructions-font-size: 14px;
        --target-language-font-size: 22px;
    }

    /* TODO(refactor): this is a result of oddities with grid + cytoscape + window resize */
    /* ideally only variables */
    .output-container {
        display: block;
    }

    .primary-panel {
        width: 100%;
    }

    #text-container {
        height: 45%;
    }

    /* TODO(refactor): why is this media query using graph-container but the main one uses graph? */
    #graph-container,
    #flow-diagram-container {
        height: 55%;
        border-top: var(--border);
    }
}